<div class="container">
  <div class="row">
    <h1 class="text-center">About</h1>
  </div>
  <div class="row">
    <p>
      <strong>Project Euler Solver
        <a aria-label="changelog"
           href="https://github.com/LoicViennois/Project-Euler-Solver/blob/master/CHANGELOG.md"
           target="_blank">
          v{{ version }}
          <i class="fas fa-xs fa-external-link-alt"></i>
        </a>
      </strong>
    </p>
  </div>
  <div class="row">
    <p>
      Copyright &copy; 2020 by
      <a href="https://github.com/LoicViennois" target="_blank">
        Loïc Viennois
        <i class="fas fa-xs fa-external-link-alt"></i>
      </a>
    </p>
  </div>
  <div class="row">
    <p>
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
    </p>
  </div>
  <div class="row">
    <p>
      See the
      <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">
        GNU General Public License v3
        <i class="fas fa-xs fa-external-link-alt"></i>
      </a>
      for more details.
    </p>
  </div>
  <div class="row">
    <h6>Send feedback:</h6>
  </div>
  <div class="row">
    <div>
      <i class="fab fa-lg fa-github pr-1"></i>
      To report a bug or send a suggestion,
      <a href="https://github.com/LoicViennois/Project-Euler-Solver/issues/new"
         target="_blank">
        file an issue on Github
        <i class="fas fa-xs fa-external-link-alt"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div>
      <i class="fab fa-lg fa-reddit pr-1"></i>
      To give me your feedback,
      <a href="https://www.reddit.com/message/compose/?to=LoicViennois"
         target="_blank">
        send me a message on Reddit
        <i class="fas fa-xs fa-external-link-alt"></i>
      </a>
    </div>
  </div>
</div>
