<div class="modal-header">
  <h5 class="modal-title">Licence notice</h5>
  <button (click)="activeModal.close('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <strong>Project Euler Solver
      <a aria-label="changelog"
         href="https://github.com/LoicViennois/Project-Euler-Solver/blob/master/CHANGELOG.md"
         target="_blank">v{{ version }}</a>
    </strong><br>
    Copyright &copy; 2020 by <a href="https://github.com/LoicViennois" target="_blank">Loïc Viennois</a>
  </p>
  <p>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
  </p>
  <p>
    See the
    <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GNU General Public License v3</a>
    for more details.
  </p>
  <hr>
  <h6>Send feedback:</h6>
  <p>
    <i class="fab fa-lg fa-github pr-1"></i>
    To report a bug or send a suggestion,
    <a href="https://github.com/LoicViennois/Project-Euler-Solver/issues/new"
       target="_blank">
      file an issue on Github
      <i class="fas fa-xs fa-external-link-alt"></i>
    </a><br>
    <i class="fab fa-lg fa-reddit pr-1"></i>
    To give me your feedback,
    <a href="https://www.reddit.com/message/compose/?to=LoicViennois"
       target="_blank">
      send me a message on Reddit
      <i class="fas fa-xs fa-external-link-alt"></i>
    </a>
  </p>
</div>
