<!--The content below is only a placeholder and can be replaced.-->
<header class="row justify-content-center pt-3 mx-0">
  <div class="col-md-auto order-lg-2 py-1">
    <h1 class="title text-center">Project Euler Solver</h1>
    <div class="text-center">
      <a href="https://github.com/LoicViennois/Project-Euler-Solver">
        <i class="title fa-lg fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="col-lg order-lg-1">
    <p class="text-center pt-2">
      <img class="text-center" [src]="badgeUrl" alt="project euler badge"/>
    </p>
  </div>
  <div class="col-lg order-lg-3 pt-3">
    <p class="title text-center px-2">All problems solved with NodeJS/TypeScript, respecting the
      "<a class="link-about" target="_blank" href="https://projecteuler.net/about">one-minute rule</a>"
    </p>
  </div>
</header>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>

